:root {
  --primary-color: #2b2e4a;
  --secondary-color: #fed049;
  --hero-color: #990134;
  --heading-font: "Permanent Marker", cursive;
  --default-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 48px;
  color: white;
}

.nav-link {
  color: var(--primary-color);
}

h2 {
  font-family: var(--heading-font);
  font-size: 34px;
  color: var(--hero-color);
  background-color: var(--primary);
}

h3 {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
}

hr {
  background: var(--hero-color);
  padding: 2px;
  max-width: 50%;
  opacity: 80%;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 30px;
}

i {
  color: var(--hero-color);
  font-size: 50px;
}

.hero {
  background-color: var(--hero-color);
  padding: 60px 20px;
}

.hero p,
.hero h3 {
  color: white;
}

.btn {
  border-radius: 4px;
  font-size: 16px;
  line-height: 25px;
  padding: 12px 20px;
  text-transform: uppercase;
}

.btn-hero {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-hero:hover {
  color: var(--primary-color);
  opacity: 0.9;
}

.btn-standard {
  background: var(--primary-color);
  color: white;
}

.btn-standard:hover {
  color: white;
  opacity: 0.9;
}

.social p {
  font-size: 14px;
}

.social h3 {
  font-size: 18px;
}

footer h2 {
  color: var(--primary-color);
}
