body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: red;
  font-family: "Permanent Marker", cursive;
}

h2 {
  font-weight: bold;
  font-size: 22px;
}

h3 {
  font-family: "Permanent Marker", cursive;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

p {
}
